{{#extend "layout"}}
    
    {{#content "body" mode="append"}}
        <a href="/trainees/create" class="btn btn-primary"> <i class="fa fa-plus"></i> New Trainee</a>

    {{/content}}
{{/extend}}
