{{#extend "layout"}}

    {{#content "body"}}
        <table class="table table-bordered">
            <tr>
                <th>Course ID</th>
            </tr>
        </table>
    {{/content}}

{{/extend}}
