{{#extend "layout" foo="bar"}}

     {{#content "head" mode="prepend"}}
       <title>day la title</title>
    {{/content}}

    {{#content "title" mode="prepend"}}Example - {{/content}}

     {{#content "header" mode="prepend"}}
        <h2>prepend header</h2>
    {{/content}}

    {{#content "body" mode="prepend"}}
        <h2>prepend body</h2>
    {{/content}}


    {{#content "body" mode="append"}}
        <h2>append body</h2>
    {{/content}}

     {{#content "footer" mode="prepend"}}
        <h2>Prepend footer</h2>
    {{/content}}

      {{#content "footer" mode="append"}}
        <h2>Append footer</h2>
    {{/content}}
{{/extend}}
