<!doctype html>
<html lang="en-us">
<head>
    {{#block "head"}}
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {{/block}}
</head>
<body>
    <div class="site">
        <div class="site-hd" role="banner">
            {{#block "header"}}
                <h1>day la header</h1>
            {{/block}}
        </div>
 
        <div class="container" role="main">
            {{#block "body"}}
                <h2>day la body</h2>
            {{/block}}
        </div>
 
        <div class="site-ft" role="contentinfo">
            {{#block "footer"}}
                <small>&copy; day la footer</small>
            {{/block}}
        </div>
    </div>
 
    {{#block "foot"}}
        <script src="assets/js/controllers/home.js"></script> 
    {{/block}}
</body>
</html>
