<!doctype html>
<html lang="en-us">
<head>
    {{#block "head"}}
 
        <link rel="stylesheet" href="" />
    {{/block}}
</head>
<body>
    <div class="site">
        <div class="site-hd" role="banner">
            {{#block "header"}}
                <h1>day la header</h1>
            {{/block}}
        </div>
 
        <div class="site-bd" role="main">
            {{#block "body"}}
                <h2>day la body</h2>
            {{/block}}
        </div>
 
        <div class="site-ft" role="contentinfo">
            {{#block "footer"}}
                <small>&copy; day la footer</small>
            {{/block}}
        </div>
    </div>
 
    {{#block "foot"}}
        <script src="assets/js/controllers/home.js"></script> 
    {{/block}}
</body>
</html>
